<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>337483169928-b52thmhi6ln8c0ks8l6t3n7pcsv7d42i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337483169928-b52thmhi6ln8c0ks8l6t3n7pcsv7d42i</string>
	<key>API_KEY</key>
	<string>AIzaSyByzWk5jZlygHHG7QJRdCIHwEpZj3u6ZMs</string>
	<key>GCM_SENDER_ID</key>
	<string>337483169928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartheard.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>demoproject-6e7b3</string>
	<key>STORAGE_BUCKET</key>
	<string>demoproject-6e7b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337483169928:ios:363bc95d59f17f72</string>
	<key>DATABASE_URL</key>
	<string>https://demoproject-6e7b3.firebaseio.com</string>
</dict>
</plist>